.wrapper {
  @apply bg-cool-grey rounded-full;
  --size: 1.4rem;
  box-sizing: content-box;
  display: block;
  width: calc(2 * var(--size));
  padding: 0.4rem;
  cursor: pointer;
  transition: 250ms ease-in-out background-color;
  &.active {
    @apply bg-space-cadet;
    .circle {
      left: var(--size);
    }
  }
}
.circle {
  @apply bg-white rounded-full;
  position: relative;
  left: 0rem;
  width: var(--size);
  height: var(--size);
  transition: 250ms ease-in-out left;
}
