.wrapper {
  --x: 0%;
  position: relative;
  width: 100%;
}
.bar {
  @apply bg-ghost-white overflow-hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 0.8rem;
  border-radius: 0.5rem;
}
.progress-bar {
  @apply bg-turquoise-blue;
  width: var(--x);
  height: 100%;
}
.circle {
  @apply rounded-full bg-turquoise;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: var(--x);
  width: 4rem;
  height: 4rem;
  box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
  z-index: 1;
  transition: box-shadow 250ms ease-in-out;
  cursor: grab;
  &:active {
    box-shadow: 0px 15px 30px 5px rgba(0, 255, 231, 1);
    cursor: grabbing;
  }
}
